{
    "openapi": "3.0.1",
    "info": {
      "title": "OpenAPI Mecha Health",
      "description": "API Endpoints for Mecha Health",
      "license": {
        "name": "Reserved"
      },
      "version": "1.0.0"
    },
    "servers": [
      {
        "url": "https://api.mecha-health.ai"
      }
    ],
    "security": [
      {
        "bearerAuth": []
      }
    ],
    "paths": {
      "/v2/models/infer": {
        "post": {
          "description": "Infer the findings section of a CXR image",
          "parameters": [
            {
              "name": "image_url",
              "in": "query",
              "description": "The Base64 encoded CXR image to infer",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "CXR interpretation response",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "400": {
              "description": "Unexpected error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  }
                }
              }
            }
          }
        }
      }
    },
    "components": {
      "schemas": {
        "CXRInterpretation": {
          "required": [
            "findings"
          ],
          "type": "object",
          "properties": {
            "findings": {
              "description": "The findings of the CXR image",
              "type": "string"
            }
          }
        },
        "Error": {
          "required": [
            "error",
            "message"
          ],
          "type": "object",
          "properties": {
            "error": {
              "type": "integer",
              "format": "int32"
            },
            "message": {
              "type": "string"
            }
          }
        }
      },
      "securitySchemes": {
        "bearerAuth": {
          "type": "http",
          "scheme": "bearer"
        }
      }
    }
  }