{
    "openapi": "3.0.1",
    "info": {
      "title": "OpenAPI Mecha Health",
      "description": "API Endpoints for Mecha Health",
      "license": {
        "name": "Reserved"
      },
      "version": "1.0.0"
    },
    "servers": [
      {
        "url": "https://api.mecha-health.ai"
      }
    ],
    "security": [
      {
        "bearerAuth": []
      }
    ],
    "paths": {
      "/v2/models/infer": {
        "post": {
          "description": "Infer the findings section of a CXR image",
          "parameters": [
            {
              "name": "image",
              "in": "query",
              "description": "The Base64 encoded CXR image to infer",
              "schema": {
                "type": "string"
              },
              "required": true
            },
            {
              "name": "language",
              "in": "query",
              "description": "The language of the findings",
              "schema": {
                "type": "string",
                "enum": ["en", "es"]
              }
            }
          ],
          "responses": {
            "200": {
              "description": "CXR interpretation response",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "400": {
              "description": "Unexpected error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  }
                }
              }
            },
            "500": {
                "description": "Internal server error occurred during inference processing",
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "Internal server error"
                        },
                        "message": {
                          "type": "string",
                          "example": "An unexpected error occurred while processing your request. Please try again later or contact support if the issue persists."
                        }
                      }
                    }
                  }
                }
            }
        }
      }
    },
    "components": {
      "schemas": {
        "CXRInterpretation": {
          "required": [
            "findings"
          ],
          "optional": [
            "language"
          ],
          "type": "object",
          "properties": {
            "findings": {
              "description": "The findings of the CXR image",
              "type": "string"
            },
            "language": {
              "description": "The language of the findings",
              "type": "string",
              "enum": ["en", "es"]
            }
          }
        },
        "Error": {
          "required": [
            "error",
            "message"
          ],
          "type": "object",
          "properties": {
            "error": {
              "type": "integer",
              "format": "int32"
            },
            "message": {
              "type": "string"
            }
          }
        }
      },
      "securitySchemes": {
        "bearerAuth": {
          "type": "http",
          "scheme": "bearer"
        }
      }
    }
  }
  }